* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html,
body {
    position: fixed;
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#FFF;
}

.nav {
    color:white;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.3);
            box-shadow: 0 1px 0 rgba(0,0,0,.3);
    font-size: 18px;
    height: 60px;
}

.nav,
.aviso-header,
.aviso-btn,
.btn-continuar,
.btn-checar {
    background: rgb(235,0,41);
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position:relative;
    overflow-x: hidden;
}

.home {
    height: inherit;
}

.container-fluid {
    background: #E4E4E4;
}

.is-left,
.is-center,
.is-right {
    /* opacity: 1;
    visibility: visible; */
    top: 0;
    left: 0;
    -webkit-transition: all 280ms ease-in;
    -o-transition: all 280ms ease-in;
    transition: all 280ms ease-in;
    will-change: transform;
}

.is-left {
    /* height: 0%; */
    -webkit-transform: translate3d(-100%,0,0);
        -ms-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
}

.is-center {
    /* height:100%; */
    -webkit-transform: translate3d(0%,0,0);
        -ms-transform: translate3d(0%,0,0);
            transform: translate3d(0%,0,0);
}

.is-right {
    /* height: 0%; */
    -webkit-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.fa-bars,
.fa-angle-left {
    cursor: pointer;
}

.btnMenu-back {
    height: 45px;
    width: 45px;
    z-index: 100;
    left: -14px;
}

.btnMenu-update {
    height: 45px;
    width: 45px;
    z-index: 100;
    right: -14px;
}

.equipos-fill, .codigos-fill {
    flex-flow: column;
}

.eqElement, .codElement {
    position: relative;
    margin-bottom:1px;
    width:100%;
}

.eqElement.is-selected, .codElement.is-selected {
    background: #e7e8e9 !important;
}

.eqElement, .codElement {
    height: 60px;
}

.eqElement img, .eqElement .fa-angle-right,
.codElement div, .codElement .fa-angle-right {
    position: absolute;
}

.eqElement img, .codElement div {
    left: 30px;
    top: 50%;
}

.eqElement img {<
    width: 180px;
    height: 38.55px;
    margin-top: -19.25px;
}

.eqElement .fa-angle-right,
.codElement .fa-angle-right {
    right: 30px;
    top: 50%;
    width: 8px;
    height: 16px;
    margin-top: -8px;
}

.codElement div {
    font-size: 22px;
    font-weight: bold;
    height: 33px;
    margin-top: -16.5px;
}

.artElement {
    color:white;
    left: 1%;
    top: 5%;
    font-size: 9vw;
    font-weight: bold;
    text-align: center;
    width: 21%;
    height: 38%;
    display: block;
}

/* SPINNER */
.loader {
    border: 10px solid rgba(0,0,0,.3);
    border-radius: 50%;
    border-top-color: #000;
    display: block;
    height: 60px;
    margin: 15px auto 35px;
    position: relative;
    text-align: center;
    width: 60px;
    z-index: 9999;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* MODAL */
.modal-dialog {
    margin: 0 auto;
    width: 180px;
}

.modal-content {
  border-radius: 10px;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.loader-txt p {
    color: #666;
    font-size: 16px;
    text-align: center;
}

.loader-txt small {
    color: #999;
    font-size: 11.5px;
}