<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="mx.mirage.codigoserror"
    version="1.3.0"
    >
    <!-- Android -->
    <!-- version="1.3.0" -->
    <!-- id="mx.mirage.codigoserror" -->

    <!-- iOS -->
    <!-- version="1.4.0" -->
    <!-- id="mx.mirage.codigo" -->

    <name>codigoError</name>
    <description>
        Códigos de Diagnóstico es una aplicación para ver los códigos que arrojan nuestros equipos y tener una idea más clara del diagnóstico del equipo.
    </description>
    <author email="ulisesg@airesmirage.com" href="http://mirage.mx">
        Mirage Dev Team
    </author>
    <content src="index.html" />

    <preference name="phonegap-version" value="cli-8.0.0" />
    <!-- <preference name="phonegap-version" value="cli-7.1.0" /> -->
    <preference name="android-build-tool" value="gradle" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="100" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="fullscreen" value="false" />

    <plugin name="cordova-android-support-gradle-release" />
    <plugin name="cordova-plugin-device" spec="~1.1.7" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.4" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-keyboard" source="npm" spec="~1.2.0" />
    <gap:plugin name="pushwoosh-pgb-plugin" source="npm" />
    <plugin name="cordova-plugin-dialogs" spec="~2.0.1" />

    <allow-navigation href="http://*" />
    <allow-navigation href="https://*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="about:*" />
    <allow-navigation href="tel:*" />
    <allow-navigation href="gap:*" />
    <access origin="*" />
    <access origin="*.pushwoosh.com" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="load-url-timeout" value="50000" />
        <preference name="android-minSdkVersion" value="23" />
        <preference name="android-targetSdkVersion" value="28">
        <preference name="android-installLocation" value="internalOnly" />
        <preference name="android-windowSoftInputMode" value="adjustResize" />

        <icon density="ldpi" src="res/icon/android/drawable-notification_ldpi.png" />
        <icon density="mdpi" src="res/icon/android/drawable-notification_mdpi.png" />
        <icon density="hdpi" src="res/icon/android/drawable-notification_hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/drawable-notification_xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/drawable-notification_xxhdpi.png" />

        <icon density="ldpi" src="res/icon/android/drawable-action_ldpi.png" />
        <icon density="mdpi" src="res/icon/android/drawable-action_mdpi.png" />
        <icon density="hdpi" src="res/icon/android/drawable-action_hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/drawable-action_xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/drawable-action_xxhdpi.png" />

        <icon density="ldpi" src="res/icon/android/drawable-launcher_icon_ldpi.png" />
        <icon density="mdpi" src="res/icon/android/drawable-launcher_icon_mdpi.png" />
        <icon density="hdpi" src="res/icon/android/drawable-launcher_icon_hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/drawable-launcher_icon_xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/drawable-launcher_icon_xxhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/drawable-launcher_icon_xxxhdpi.png" />

        <splash density="port-ldpi" src="res/screen/android/ldpi-port.png" />
        <splash density="port-mdpi" src="res/screen/android/mdpi-port.png" />
        <splash density="port-hdpi" src="res/screen/android/hdpi-port.png" />
        <splash density="port-xhdpi" src="res/screen/android/xhdpi-port.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="target-device" value="handset" />
        <preference name="prerendered-icon" value="true" />
        <preference name="exit-on-suspend" value="true" />
        <preference name="deployment-target" value="7.0" />
        <preference name="swift-version" value="3.0" />

        <icon height="57" platform="ios" src="res/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="res/icon/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="120" platform="ios" src="res/icon/ios/icon-40@3x.png" width="120" />
        <icon height="50" platform="ios" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="87" platform="ios" src="res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="58" platform="ios" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="20" platform="ios" src="res/icon/ios/icon-Notification.png" width="20" />
        <icon height="40" platform="ios" src="res/icon/ios/icon-Notification@2x.png" width="40" />
        <icon height="60" platform="ios" src="res/icon/ios/icon-Notification@3x.png" width="60" />

        <icon height="512" platform="ios" src="res/icon/ios/iTunesArtwork.png" width="512" />
        <icon height="1024" platform="ios" src="res/icon/ios/iTunesArtwork@2x.png" width="1024" />

        <splash height="1334" platform="ios" src="res/screen/ios/Default-667h@2x.png" width="750" />
        <splash height="1136" platform="ios" src="res/screen/ios/Default-568h@2x.png" width="640" />
        <splash height="568" platform="ios" src="res/screen/ios/Default-568h.png" width="320" />
        <splash height="960" platform="ios" src="res/screen/ios/Default@2x.png" width="640" />
        <splash height="480" platform="ios" src="res/screen/ios/Default.png" width="320" />
    </platform>
    <engine name="android" spec="^7.0.0" />
</widget>
